body{
    display:grid;
    height:100vh;
    main{
        display: grid;
        justify-items:center;
        #game-container{
                    align-self:center;
                    
        }

    }
}

/* canvas{
     display:block;
     margin:auto;
} */